* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
}

body {
  background-image: url(./images/background-img.jpg);
  background-size: cover;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 720px;
}

#score, #welcome-img, button, #list p{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#score, .question li, #list p {
  background-color: rgba(232, 232, 232, 1);
}

.welcome-elements{
  text-align: center;
}

#welcome-img {
  max-width: 500px;
  margin-bottom: 30px;
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.name-input {
  display: block;
  width: 100%;
  font-family: inherit;
  color: rgb(19, 124, 117);
  padding: 0px 0px 8px;
  border: none;
  outline: none;
  border-radius: 0px;
  appearance: none;
  background-image: none;
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  transform: translateZ(0px);
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  line-height: unset;
  -webkit-text-fill-color: rgb(19, 124, 117);
  animation: 1ms ease 0s 1 normal none running native-autofill-in;
  transition: background-color 1e8s ease 0s, box-shadow 0.1s ease-out 0s;
  box-shadow: rgb(19 124 117 / 30%) 0px 1px;
  background-color: transparent !important;
}

button {
  align-self: start;
  margin-top: 20px;
  width: 80px;
  height: 45px;
  color: rgba(250, 250, 250);
  background-color: rgb(37, 37, 37);
  border: none;
  border-radius: 5px;
}

#score {
  margin-bottom: 100px;
  padding: 10px;
  display: inline-block;
  font-size: large;
  border-radius: 3px;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: auto;
  left: 100%;
  bottom: auto;
  right: auto;
  background: #7f4a88;
  transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.question {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

h1 {
  font-weight: 100;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 100;
}

ul {
  list-style: none;
  align-self: start;
  margin-left: 40px;
}

li {
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  min-width: 300px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.key {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 3px 5px;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 3px;
  margin-right: 10px;
  text-align: center;
}

.selected-answer .key {
  background-color: #FF5A33;
  color: rgba(250, 250, 250);
}

.correct-answer {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.correct-answer .key{
  background-color: #44803F;
  color: rgba(250, 250, 250);
}

#next-question-button {
  margin: 25px 0 0 40px;
}

/* -- result page -- */
#result {
  overflow: scroll;
  margin: 30px 0px;
   /* Hide scrollbar for IE, Edge and Firefox */
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}
#result::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

#list {
  margin: 0px;
  
}

#list li{
  padding: 20px;
  flex-wrap: wrap; 
  justify-content: center;
  border-radius: 10px;
  box-shadow: none;
}

h4 {
  min-width: 100%;
  text-align: center;
  margin-bottom: 20px;

}

#list p{
  padding: 20px;
  border-radius: 5px;
  min-width: 300px;
  text-align: center;
  margin: 0 10px;
}

#list span{
  margin-right: 10px;
}




.hide {
  display: none;
}

/* -- animation -- */
#transition-container-1,
#transition-container-2 {
  position: absolute;
  top: 0%;
  right: 0%;
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invisible {
  visibility: hidden;
}

.slide-to-top {
  animation: moveToTop 0.7s ease-in-out both;
}

.slide-from-bottom {
  animation: moveFromBottom 0.7s ease-in-out both;
}

.container-on-front {
  z-index: 999;
}

@keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
